{
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
