.fr-box {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid #e2e8f0;
  overflow: hidden;

  .fr-toolbar,
  .fr-second-toolbar {
    background-color: #f9fbff;
    border: none;
  }

  .fr-second-toolbar {
    display: none;
  }
}

.fr-box.fr-basic .fr-wrapper {
  background-color: #f9fbff;
  border: none;
}
